
@using PagedList.Mvc
@model  PagedList.IPagedList<ProjetoJornal.Areas.Admin.ViewModel.ListarNoticiasModel>
<style>
    ul.pagination {
        margin-bottom: 40px;
    }

        ul.pagination li {
            display: inline-block;
        }

            ul.pagination li a {
                padding: 6px 14px;
                color: #565656;
                font-size: 12px;
                font-family: "Open Sans", sans-serif;
                border: 1px solid #f1f1f1;
            }

                ul.pagination li a.active {
                    border: 1px solid #a1a1a1;
                }

                ul.pagination li a:hover {
                    background: #00A7B3;
                    border: 1px solid transparent;
                    color: #fff;
                }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Top 20 Notícias</span>

                </div>
                <a class="btn default pull-right" href="@Url.Action("Cadastrar", "Noticias")?idNoticia=0">
                    <i class="fa fa-image"></i> Cadastrar Notícia
                </a>
                @*@Html.ActionLink("Cadastrar Notícia", "Cadastrar", "Noticias", new { idNoticia = 0 }, new { area = "Admin" })*@
            </div>
            <div class="tab-pane active" id="tab_1">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-search"></i>Busca avançada
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse" data-original-title="" title="">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form class="horizontal-form" action="@Url.Action("Index", "Noticias")" method="post">
                            <div class="form-actions">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control" id="selCategoria" placeholder="Selecione uma categoria" name="IdCategoria">
                                            @*<option value="0">Selecione uma categoria</option>
                                                @foreach (var categoria in Model.CategoriasListar)
                                                {
                                                    <option value="@categoria.IdCategoria%>">@categoria.Nome</option>
                                                }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Autor</label>
                                        <select class="form-control" id="selAutor" aria-placeholder="Selecione um autor" name="IdAutor">
                                            @*<option value="0">Selecione um autor</option>
                                                @foreach (var autor in Model.AutoresListar)
                                                {
                                                    <option value="@autor.IdAutor%>">@autor.Nome</option>
                                                }*@
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Título</label>
                                        <input type="text" class="form-control" placeholder="Buscar pelo título" name="Titulo" id="titulo">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Filtrar por período</label>
                                        <div class="input-group input-large date-picker input-daterange" id="datepicker1" data-date="10/11/2012" data-date-format="dd/mm/yyyy">
                                            <input type="text" class="form-control" name="DataFinal" id="dtinicial">
                                            <span class="input-group-addon">
                                                até
                                            </span>
                                            <input type="text" class="form-control" name="DataInicial" id="dtfinal">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn blue pull-right"><i class="fa fa-search"></i> Pesquisar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
            <br>
            @if (Model.Count == 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            <strong>Atenção!</strong> Nenhum resultado encontrado para a busca realizada.
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in Model)
            {
                <div class="news-blocks">
                    <h3>
                        <a href="@Url.Action("Cadastrar", "Noticias")?idNoticia=@item.Id">
                            @item.Titulo
                        </a>
                    </h3>
                    <div class="news-block-tags">
                        @if (item.Status == "A")
                        {
                            <span class="label label-primary">Aguardando Publicação</span>
                        }
                        else
                        {
                            <span class="label label-success">Publicado</span>
                        }
                        <span class="badge badge-default">
                            @item.Categoria
                        </span>
                        <span> <i class="fa fa-user"></i> @item.Autor</span>
                        <span>
                            <i class="fa fa-calendar"></i>
                            @item.Data
                        </span>
                    </div>
                    <p>
                        @item.CorpoSubString
                    </p>
                    <a class="btn btn-outline btn-success dim" href="@Url.Action("Cadastrar", "Noticias")?idNoticia=@item.Id"><i class="fa fa-upload"></i> Editar notícia</a>
                    @if (item.Status == "A")
                    {
                        <a class="btn btn-outline btn-info dim" href="http://localhost:57914/Home/Publicar?id=@item.Id" target="_blank"><i class="fa fa-globe"></i> Publicar notícia</a>
                    }
                </div>
            }
            @if (ViewBag.ItensEncontrados > 0)
            {
                <div class="pagination" style="margin-left: 400px">
                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                </div>
            }
            <br />
            @if (Model.HasNextPage || Model.HasPreviousPage)
            {
                <div style="text-align: center">
                    @Html.PagedListPager(Model, (page) => Url.Action("Index", new { page = page, busca = @ViewBag.Busca }), PagedListRenderOptions.Classic)
                </div>
            }
        </div>
    </div>
</div>
<br />

@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            popularAutores();
            popularCategorias();
        });

       
        function popularAutores() {
            $.ajax({
                url: "@Url.Action("Autores", "Noticias")",
                success: function (data) {
                    $("#selAutor").empty();
                    $("#selAutor").append('<option value="0">Selecione...</option>');
                    $.each(data, function (index, element) {
                        $("#selAutor").append('<option value="' + element.IdAutor + '">' + element.Nome + '</option>');
                    });
                }
            });
        }
         function popularCategorias() {
            $.ajax({
                url: "@Url.Action("Categorias", "Noticias")",
                success: function (data) {
                    $("#selCategoria").empty();
                    $("#selCategoria").append('<option value="0">Selecione...</option>');
                    $.each(data, function (index, element) {
                        $("#selCategoria").append('<option value="' + element.IdCategoria + '">' + element.Nome + '</option>');
                    });
                }
            });
        }
        function pesquisar() {
         var model = {
                IdCategoria: parseInt($("#selCategoria").val()),
                IdAutor: parseInt($("#selAutor").val()),
                Titulo: $("#titulo").val(),
                DataFinal: $("#dtinicial").val(),
                DataInicial: $("#dtfinal").val(),
            };
            $.ajax({
                type: 'post',
                //dataType: 'json',
                cache: false,
                url: "@Url.Action("Index", "Noticias")",
                data: { search: model},
                success: function (result) {
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                    toastr.error(xhr.responseText, "Erro");
                }
            });
        }

    $('#my-dropzone').on('change', function (e) {
        //var upload = document.getElementById("txtUploadFile");
        var files = e.target.files;
        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UploadHomeReport", "Noticias")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
    </script>
}

