<div class="row">
    <div class="col-lg-8">
        <!-- Posts-block -->
        <div class="posts-block">
            @Html.Partial("~/Views/Shared/_Slide.cshtml")
        </div>
        <!-- End Posts-block -->
        <!-- Posts-block -->
        <div class="posts-block standard-box">
            @Html.Partial("~/Views/Shared/_Ultimas.cshtml")
        </div>
        <!-- End Posts-block -->
        <!-- Posts-block -->
        <div class="posts-block featured-box">
            @Html.Partial("~/Views/Shared/_MaisVisualizadas.cshtml")
        </div>
        <!-- End Posts-block -->
        <!-- Advertisement -->
        <div class="advertisement">
            <a href="#"><img src="upload/addsense/620x80grey.jpg" alt=""></a>
        </div>
        <!-- End Advertisement -->
    </div>
    <div class="col-lg-4 sidebar-sticky">

        <!-- Sidebar -->
        <div class="sidebar theiaStickySidebar">
            <div class="search-widget widget">
                <form action="@Url.Action("Busca", "Home")" method="get">
                    <input type="search" name="busca" placeholder="Procuro por..." />
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="widget social-widget">
                <h1>Stay Connected </h1>
                <p>Do you want to be informed everytime with our latest news?</p>
                <ul class="social-share">
                    <li>
                        <a href="#" class="rss">
                            <i class="fa fa-rss"></i>
                            <span>345</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                            <span>3,460</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                            <span>5,600</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google-plus"></i>
                            <span>659</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="advertisement">
                <a href="#"><img src="upload/addsense/300x250.jpg" alt=""></a>
            </div>
            @Html.Partial("~/Views/Shared/_UltimasHoje.cshtml")
        </div>
    </div>
</div>
@Html.Partial("~/Views/Shared/_UltimasDaSemana.cshtml")
