<div class="row">
    <div class="col-lg-8">
        <!-- Posts-block -->
        <div class="posts-block">
            @Html.Partial("~/Views/Shared/_Slide.cshtml")
        </div>
        <!-- End Posts-block -->
        <!-- Posts-block -->
        <div class="posts-block standard-box">
            @Html.Partial("~/Views/Shared/_Ultimas.cshtml")
        </div>
        <!-- End Posts-block -->
        <!-- Posts-block -->
        <div class="posts-block featured-box">
            @Html.Partial("~/Views/Shared/_MaisVisualizadas.cshtml")
        </div>
        <!-- End Posts-block -->
        <!-- Advertisement -->
        <div class="advertisement">
            <a href="#"><img src="upload/addsense/620x80grey.jpg" alt=""></a>
        </div>
        <!-- End Advertisement -->
        <!-- Posts-block -->
        <div class="posts-block combined-box">
            <div class="title-section">
                <h1>Lifestyle</h1>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="news-post standart-post">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s13.jpg" alt="">
                            </a>
                            <a href="#" class="category category-fashion">Lifestyle</a>
                        </div>
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <div class="news-post thumb-post">
                                <div class="post-image">
                                    <a href="single-post">
                                        <img src="upload/blog/s18.jpg" alt="">
                                    </a>
                                </div>
                                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="news-post thumb-post">
                                <div class="post-image">
                                    <a href="single-post">
                                        <img src="upload/blog/s20.jpg" alt="">
                                    </a>
                                </div>
                                <h2><a href="single-post.html">Excepteur sint occaecat cupidatat non proident</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="news-post thumb-post">
                                <div class="post-image">
                                    <a href="single-post">
                                        <img src="upload/blog/s24.jpg" alt="">
                                    </a>
                                </div>
                                <h2><a href="single-post.html">Consectetur adipisicing elit, sed do eiusmod</a></h2>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="news-post thumb-post">
                                <div class="post-image">
                                    <a href="single-post">
                                        <img src="upload/blog/s15.jpg" alt="">
                                    </a>
                                </div>
                                <h2><a href="single-post.html">Culpa qui officia deserunt mollit anim id est</a></h2>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Posts-block -->
        <!-- Posts-block -->
        <div class="posts-block articles-box">
            <div class="title-section">
                <h1>World News</h1>
            </div>

            <div class="news-post article-post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s3.jpg" alt="">
                            </a>
                            <a class="category category-travel" href="#">Travel</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-post article-post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s4.jpg" alt="">
                            </a>
                            <a class="category category-food" href="#">Food</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-post article-post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s5.jpg" alt="">
                            </a>
                            <a class="category category-world" href="#">World</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-post article-post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s6.jpg" alt="">
                            </a>
                            <a class="category category-travel" href="#">Travel</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-post article-post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s7.jpg" alt="">
                            </a>
                            <a class="category category-tech" href="#">Tech</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <div class="news-post article-post">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="post-image">
                            <a href="single-post">
                                <img src="upload/blog/s8.jpg" alt="">
                            </a>
                            <a class="category category-fashion" href="#">Fashion</a>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h2><a href="single-post.html">New alternatives are more productive</a></h2>
                        <ul class="post-tags">
                            <li><i class="lnr lnr-user"></i>by <a href="#">John Doe</a></li>
                            <li><a href="#"><i class="lnr lnr-book"></i><span>23 comments</span></a></li>
                            <li><i class="lnr lnr-eye"></i>872 Views</li>
                        </ul>
                        <p>
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>
            </div>
            <ul class="pagination-list">
                <li><a href="#">Prev</a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
        <!-- End Posts-block -->
    </div>
    <div class="col-lg-4 sidebar-sticky">

        <!-- Sidebar -->
        <div class="sidebar theiaStickySidebar">
            <div class="search-widget widget">
                <form action="@Url.Action("Busca", "Home")" method="get">
                    <input type="search" name="busca" placeholder="Procuro por..." />
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="widget social-widget">
                <h1>Stay Connected </h1>
                <p>Do you want to be informed everytime with our latest news?</p>
                <ul class="social-share">
                    <li>
                        <a href="#" class="rss">
                            <i class="fa fa-rss"></i>
                            <span>345</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="facebook">
                            <i class="fa fa-facebook"></i>
                            <span>3,460</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fa fa-twitter"></i>
                            <span>5,600</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="google">
                            <i class="fa fa-google-plus"></i>
                            <span>659</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="advertisement">
                <a href="#"><img src="upload/addsense/300x250.jpg" alt=""></a>
            </div>
            @Html.Partial("~/Views/Shared/_UltimasHoje.cshtml")
        </div>
    </div>
</div>
<!-- Advertisement -->
<div class="advertisement">
    <a href="#"><img src="upload/addsense/620x80grey.jpg" alt=""></a>
</div>
<!-- End Advertisement -->
<!-- more from news box -->
<div class="more-from-news">
    <h1>Weekly Top News</h1>
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s1.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s3.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s6.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s8.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s9.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s10.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s12.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s15.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s16.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s18.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s23.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-6">
            <div class="news-post thumb-post">
                <div class="post-image">
                    <a href="single-post">
                        <img src="upload/blog/s24.jpg" alt="">
                    </a>
                </div>
                <h2><a href="single-post.html">Duis aute irure dolor in reprehenderit in voluptate</a></h2>
            </div>
        </div>
    </div>
</div>
<!-- end more from news box -->
