@*@model  IEnumerable<ProjetoJornal.ViewModel.MenuCategoriasModel>*@
<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
    </li>
    <li class="nav-item">
        @*<a class="nav-link fashion" href="@Url.Action("Menu", "Home")?cat=@item.IdCategoria">@item.Categoria</a>*@
        <a class="nav-link fashion" href="@Url.Action("Categoria", "Home")?categoria=1">Mundo</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="@Url.Action("Categoria", "Home")?categoria=2">Brasil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="@Url.Action("Categoria", "Home")?categoria=4">Moda</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="@Url.Action("Categoria", "Home")?categoria=3">Esportes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fashion" href="@Url.Action("Categoria", "Home")?categoria=5">Política</a>
    </li>
</ul>
