@model ProjetoJornal.ViewModel.IndexModel
<div class="title-section">
    <h1>Últimas notícias <i class="lnr lnr-bookmark"></i></h1>
</div>
<div class="row">
    @foreach (var item in Model.Ultimas)
    {
        <div class="col-sm-6">
            <div class="news-post standart-post">
                <div class="post-image">
                    <a href="@Url.Action("Post", "Home")?id=@item.IdNoticia">
                        <img alt="" src="@item.FotoHome" />
                    </a>
                    <a href="#" class="category @item.ClasseCategoria">@item.Categoria</a>
                </div>
                <h2><a href="single-post.html">@item.Titulo</a></h2>
                <ul class="post-tags">
                    <li><i class="lnr lnr-user"></i>por <a href="#">@item.Autor</a></li>
                    <li><i class="lnr lnr-eye"></i>@item.Visualizacoes visualizações</li>
                </ul>
                <p>
                    @item.CorpoSubstring
                </p>
            </div>
        </div>
    }
</div>
